## 1. In the below elements which of them are values or an expression? 
**eg:-** values can be integer or string and expressions will be mathematical operators.  

`*`,`'hello'`, `-87.8`,`-`,`/`,`+`,`6`

**Ans:** 

**Values:** `'hello'`, `87.8`, `6`

**Expression:** `*`,`-`,`/`,`+`

## 2. What is the difference between string and variable?

**Ans:**

**String:** String is the set of characters wrapped inside single quotes `' '`, double quotes `" "`, or triple quotes `''' '''`. It is an immutable `(not changeble)` data type. 

**Variable:** Variable is used to `store the information` on a `reserved memory location`. The information like `string, list, tuple, dictionary, set, etc.`

## Example of an immutable and mutable:

In [11]:
# list is mutable
l = [1,2,3,4]
print('List before : ',l)
l[1] = 22
print('List after : ',l)

List before :  [1, 2, 3, 4]
List after :  [1, 22, 3, 4]

In [12]:
# string is immutable
s = 'immutable'
print('String before : ',s)
s[1] = 'q'
print('String after : ',s)

String before :  immutable

TypeError: 'str' object does not support item assignment

## 3. Describe three different data types.

**Ans:**

1. **int (integers)**: int is a data type to represent whole numbers (integral values only). **eg:-** a = 18
2. **float**: float is a data type to represent floating point values (decimal values). **eg:-** a = 18.1233
3. **str (string)**: string is a data type to represent string values. **eg:-** a = 'string_1233'
3. **complex data type**: complex number is represented by complex class. It is specified as (real part) + (imaginary part)j. **eg:-** a = 18+23j

## 4. What is an expression made up of? What do all expressions do?

**Ans:**
    
Expression is made up of values, containers, and mathematical operators (operands) and expressions are used to evaluate the values or represent the result on the screen.

**eg:-**
12+45/2-25

Is an Expression, The Python Interpreter Evaluates it to `9.5`

## 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

**Ans:**
    
Expression is made up of values, containers, and mathematical operators (operands) and the statement is just like a command that a python interpreter executes like print.

**eg:-**

12+45/2-25  *`Is a Expression`*

courseName = 'Is a Statement'  *`Is a Statement`*

print("Is a Expression Statement !!! ")  *`Is a Expression Statement`*

## 6. After running the following code, what does the variable bacon contain?

`bacon = 22`

`bacon + 1`

**Ans:**

The variable bacon contain : `23`

In [22]:
bacon = 22
bacon + 1

23

## 7. What should the values of the following two terms be?

`'spam' + 'spamspam'`

`'spam' * 3`

**Ans:**

The value will be same `spamspamspam`. But the first term is performing `concatenation` and the second term is performing the `multiplication or repetation`.

In [23]:
print('spam' + 'spamspam')
print('spam' * 3)

spamspamspam
spamspamspam

## 8. Why is eggs a valid variable name while 100 is invalid?

**Ans:**

Variable names cannot start with a `number or integer and some symbols or special characters`. 

The python `rules` for naming a variable are :-

1. Variable name must start with a letter or the underscore character.
2. Variable name cannot start with a number.
3. Variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, & _ ).
4. Variable names are case-sensitive (name, Name and NAME are three different variables).
5. The reserved words(keywords) cannot be used naming the variable.

In [30]:
eggs = 'eggs'
print(eggs)
100 = '100'
print(100)

SyntaxError: cannot assign to literal (Temp/ipykernel_2884/4154213380.py, line 3)

In [29]:
a = 10
print(a)
A = 20
print(a, A)
_a = 30
print(a, A, _a)

10
10 20
10 20 30

In [31]:
$a = 10
*a = 20

SyntaxError: invalid syntax (Temp/ipykernel_2884/552761268.py, line 1)

In [32]:
1_a = 10

SyntaxError: invalid decimal literal (Temp/ipykernel_2884/734714273.py, line 1)

## 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

**Ans:**

The `int(), float() and str()` functions will used to get the integer, floating-point number and string version of the value passed to them.

**eg:-**

> int(10.0) *`10`*

> float(10.0) *`10.0`*

> str(10.0) *`'10.0'`*

In [34]:
print('int(10.0) :', int(10.0))
print('float(10.0) : ', float(10.0))
print('str(10.0) : ',str(10.0))

int(10.0) : 10
float(10.0) :  10.0
str(10.0) :  10.0

## 10. Why does this expression cause an error? How can you fix it?

`'I have eaten ' + 99 + ' burritos.'`

**Ans:**

Give error : `TypeError: can only concatenate str (not "int") to str`; means, in this case error occurs because of 99, 99 is not a string its in int. To fix this error, just typecast int(99) to str(99).\

**Like:**

`'I have eaten ' + str(99) + ' burritos.'`

`'I have eaten 99 burritos.'`

In [35]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [36]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'